html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.main-top {
  position: relative;
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 425px;
  background-image: url("http://www.argento.co.uk/Images/newsimage/VAL16_expressionists_couple_RGB.jpg");
  background-repeat: no-repeat;
  background-position: 30% 27%; }
  .main-top::after {
    clear: both;
    content: "";
    display: table; }
  .main-top:last-child {
    margin-right: 0; }
  .main-top a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.main-bottom {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .main-bottom::after {
    clear: both;
    content: "";
    display: table; }
  .main-bottom:last-child {
    margin-right: 0; }
